cehsi - 副本 - 副本 (5).txt
bin/AndroidManifest.xml
bin/classes/com/example/activity/BuildConfig.class
bin/classes/com/example/activity/Item.class
bin/classes/com/example/activity/R$attr.class
bin/classes/com/example/activity/R$drawable.class
bin/classes/com/example/activity/R$id.class
bin/classes/com/example/activity/R$layout.class
bin/classes/com/example/activity/R$string.class
bin/classes/com/example/activity/R.class
bin/classes/com/example/activity/RemarksAct$1.class
bin/classes/com/example/activity/RemarksAct$2.class
bin/classes/com/example/activity/RemarksAct.class
bin/classes/com/example/adapter/GridViewAdapter.class
gen/com/example/activity/BuildConfig.java
gen/com/example/activity/R.java
