<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foryou.truck"
    android:versionCode="17"
    android:versionName="1.3.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="getui.permission.GetuiService.com.foryou.truck" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="getui.permission.GetuiService.com.foryou.truck"
        android:protectionLevel="normal"></permission>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54f9672efd98c5d96d000506"></meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="n1q7WoDXoEZK43d4ywvQP3Hm" />
        <meta-data
            android:name="PUSH_APPID"
            android:value="WAGaziK1O99OOMBB2Op1x4" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="qhElkXJcT7A9azQUq9mjGA" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="WH9IMqN2Is8plEda5u2ie2" /> <!-- 替换为第三方应用的APPSECRET -->
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />
        <!-- .MainActivity  RemarksAct ，  PayOnLineActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackgroundTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EntryLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".GetPassowrdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetNewPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.newGuideAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.newGuideBeginAct"
            android:screenOrientation="portrait" />

        <!-- 会员中心的页面： -->
        <activity
            android:name=".activity.PersonCenterAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ModifyPasswordAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZiliaoRenzhengAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--拍照的页面 -->
        <activity
            android:name=".activity.PhotoAct"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.BankNameListAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FeedBackAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeViewPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XieyiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AgentAndQuoteDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyMyInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".XieyiContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".getDiscountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayOnLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayOnLineWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayImageActivity"
            android:screenOrientation="portrait" />
        <!--查看保单：-->
        <activity
            android:name=".activity.LookBaoDanAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HomeMainScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DubangXieyiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplyRefundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RefundProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComfirmPayDriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sendproduct.SendProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!-- 修改的备注页面： -->
        <activity
            android:name=".activity.RemarksAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sendproduct.getProductInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".sendproduct.getTruckInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".sendproduct.chooseTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".sendproduct.getPlaceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".PingjiaAgentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".GetBaoxianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.MyDaiJinQuanAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeginSendProductAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.GetDaiJinQuanAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activity.MyOrderListAct"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DisPlayMapOverLayouAct"
            android:screenOrientation="portrait" />

        <activity android:name=".sendproduct.BusinessNameListAct"
            android:screenOrientation="portrait"/>

        <activity android:name=".sendproduct.SendProductAct"
            android:screenOrientation="portrait"/>


        <!-- #################分割线：下面是第三方的  ############################### -->

        <!-- alipay sdk begin -->
        <activity
            android:name="com.foryou.truck.activity.AliPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- alipay sdk end -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BackgroundTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <com.baidu.mapapi.map.MapView
            android:id="@+id/bmapView"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:clickable="true" />

        <activity android:name=".activity.PdfViewAct" />

        <receiver
            android:name="com.foryou.truck.PushGexinReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.WAGaziK1O99OOMBB2Op1x4" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice"></service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:screenOrientation="portrait"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:screenOrientation="portrait"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false">
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- 替换为android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.WAGaziK1O99OOMBB2Op1x4" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.foryou.truck"
            android:process=":pushservice" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
    </application>

</manifest>